*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    color: #fff;
    background: #777;
    overflow: hidden;
    font-family: 'Solway', serif;
}
.landing{
    position: relative;
    background-image: url("../img/lighted-christmas-tree-1708601.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.landing-inner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(87, 0, 0, 0.452);
    text-align: center;
    padding: 8rem;
}
.landing h1{
    font-size: 3rem;
    font-weight: 700;
}

.countdown {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.countdown div{
    font-size: 1.6rem;
    padding: 0.6rem;
    border-radius: 1px solid #fff;
    margin:0.5rem;
    opacity: 0.7;
    background: rgb(0, 0, 0);
}

.countdown span{
    font-size: 1.6rem;
}

@media(max-width: 558px){
    .landing h1{
        font-size: 2rem;
    }
    .countdown{
        font-size: 2rem;
        font-weight: 900;
        flex-direction: column;
    }
}